* {
    margin: 0;
    padding: 0;
}

h2 {
    color: green;
    text-align: center;
}

.header {
    color: red;
    text-align: center;
}
.main1 {
    color: rgb(45, 196, 78);
    text-align: center;
}
.main2 {
    color: rgb(64, 0, 255);
    text-align: center;
}
.footer {
    color: rgb(255, 0, 0);
    text-align: center;
}

#baseball {
    color: aqua;
}